.subscription__form-button {
    background-color: #23A6F0;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 0;
    border-style: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.subscription__form-button:hover {
    opacity: 50%;
    transition: 0.3s;
}

.subscription__form-button:active {
    opacity: 30%;
}