.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .overlay_active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
  }

  .popup {
    width: 370px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
  }

  .popup__input {
    outline: none;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 2px solid #BDC3D1;
  }

  .popup__input:focus {
    border-color: #252B42;
  }

  .popup__button {
    outline: none;
    background-color: #23A6F0;
    font-family: inherit;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    margin: 30px 10px 0 10px;
    padding: 15px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .popup__button:hover {
    opacity: 50%;
    transition: 0.3s;
  }

  .popup__button:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .popup__input::placeholder {
    color: #BDC3D1;
    font-size: 16px;
    font-weight: 500;
  }

  .popup__close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../../images/close-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .popup__close-button:hover {
    opacity: 50%;
    transition: 0.3s;
  }

  @media screen and (max-width: 900px) {
    .popup {
      width: 250px;
      padding: 30px;
    }

    .popup__button{
        font-size: 16px;
        padding: 15px;
    }
}