
.header__logo-link {
    transition: 0.3s;
}

.header__logo-link:hover {
    opacity: 50%;
    transition: 0.3s;
}

@media screen and (max-width: 900px) {
    
    .header__logo-link {
        grid-row: 2/3;
    }
}