.subscription__form {
    display: flex;
}

@media screen and (max-width: 500px) {
    .subscription__form {
        flex-direction: column;
        width: 280px;
        padding: 10px 0 10px 0;
    }
}