.header__navigation-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #252B42;
    margin: 20px;
    transition: 0.3s;
}

.header__navigation-link:hover {
    opacity: 50%;
    transition: 0.3s;
}

@media screen and (max-width: 900px) {
    .header__navigation-link {
        font-size: 14px;
        margin: 10px;
    }
}

@media screen and (max-width: 420px) {
    .header__navigation-link {
        font-size: 12px;
    }
}