.feedback__description {
    max-width: 300px;
    font-size: 16px;
    font-weight: 500;
    color: #737373;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 900px) {
    .feedback__description {
        font-size: 16px;
        margin: 10px 0 0 0;
    }
}