.business-advices__text {
    max-width: 500px;
    font-size: 20px;
    color: #737373;
    margin: 0 0 60px 0;
}

@media screen and (max-width: 900px) {
    .business-advices__text {
        font-size: 16px;
    }
}